{
    "trailingComma":"es5",
    "tabWidth":2,
    "useTabs":false,
    "semi":false,
    "singleQuote":true,
    "arrowParens":"avoid",
    "printWidth":110,
    "quoteProps":"as-needed",
    "bracketSpacing":true,
    "jsxBracketSameLine":false,
    "overrides": [
        {
            "files":"src/**/*.vue",
            "options": {
                "parser":"vue",
                "vueIndentScriptAndStyle":true
            }
        },
        {
            "files":"src/**/*.js",
            "options": {
                "parser":"babel"
            }
        }
    ]
}
